:root {
    --amarelo: #fcfc30;
    --azul-escuro: #002d4b;
    --cinza: #c8c8c8;
    --branco: #FFFFFF;
    --preto: #202020;
    --vermelho: #ff0000;
    --vermelho-claro: #ffe6e6;

    --familia-corpo: Arial, Helvetica, sans-serif;
}