footer {
    background:  var(--cinza-escuro);
    color: var(--branco);
    display: block;
    font-size: .875rem;
    margin-top: 1.3rem;
    padding: 2.5rem 0;
    text-align: center;
}

.socialmediabar {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20%;
    width: 60%;
}

.socialmediabar__img {
    width: 2rem;
}

.socialmediabar a:first-child {
    margin-left: 25.9rem;
}

.socialmediabar a:last-child {
    margin-right: 25.9rem;
}

.socialmediabar img:hover {
    border: 2px solid var(--branco);
    border-radius: 5px;
}

.copyright {
    margin-top: 1.2rem;
}