@import url(_variaveis.css);

* {
  box-sizing: border-box;
}

body {
    background:  var(--branco);
    font-family: 'Open Sans', sans-serif;
}

.header__banner {
    background: url('../img/banner.png') no-repeat center / cover;
    height: 60vh;
    margin-bottom: 1.3rem;
    width: 100%;
}

.main__container {
  display: flex;
}
